<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxmakeychik.itunes_player">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.maxmakeychik.itunes_player.App"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.maxmakeychik.itunes_player.ui.songs.SongsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.maxmakeychik.itunes_player.ui.player.PlayerActivity"
            android:label="@string/app_name"
            android:configChanges="layoutDirection|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service android:name=".ui.player.PlayerService">
            <intent-filter>
                <action android:name="com.maxmakeychik.itunes_player.action.PLAY" />
                <action android:name="com.maxmakeychik.itunes_player.action.STOP" />
                <action android:name="com.maxmakeychik.itunes_player.action.REWIND" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="015cfd460050ad4a52e7097809a60b42febbe1c5" />
    </application>

</manifest>
